<section class="phx-hero">
  <h1>Welcome to SneakyChat!</h1>
  <p>A decentralized alternative to Sna_____.</p>
</section>

<section class="row">
  <article class="column">
    <h2>Links</h2>
    <a href="/auth">Sign-in</a>
  </article>
  <article class="column">

  </article>
</section>
